

.content-section {
    margin: 1em;
}

.content-cart{
    background-color:white;
    height: 100%;
    border-radius: 12px;
}

.container { 
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
    border-style: outset;
    border: 0;
    max-width: 30%;
    left:35%;
}

.section-header2{
    box-shadow: 0 4px 8px 0 rgb(226, 157, 67);
    transform: translate(-50, -50);
    background-color:wheat;
    position:relative;
    font-family: "Lucida Handwriting", cursive;
}

.btn {
    text-align: left;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: wheat;
    text-shadow: 2px white;
    background-color: brown;
    border: none;
    border-radius: 30px 30px 0 0;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(0, 0, 0);
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight:lighter ;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Garamond", serif;
}

.shop-item-button{
    position: relative;
    margin-top: auto;
}

.shop-item-image {
    height: auto;
    border-radius: 12px 12px 0 0 ;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: brown;
    font-size: 19px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 40%;
}

.cart-item-title {
    font-weight: bold;
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid brown;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align:end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
